
$color-white: #fff;
$color-black: #000;
$color-primary: #dc0a2d;
$color-secondary: #28aafd;
$color-third: #51ae5f;
$color-fourth: #fee43f;
$color-ground: #dedede;
$color-bg: #7dad71;

$brand-primary: $color-primary;
