body {
  background: $color-bg url('../images/bg.png') top center;
  background-repeat: repeat-x;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a {
  border-bottom: 1px dotted transparent;
  color: lighten($color-black, 10%);
  transition: color .25s;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 1px dotted $color-secondary;
    color: $color-black;
    text-decoration: none;
  }
}


